<template>

  <div class="frame">

    <div v-show="errorText!=null" class="error" v-html="errorText"/>

    <div class="section">
      <input v-model="title" :class="classes.key" placeholder="key..." v-on:blur="checkSendDisabled()"/>
      <div v-show="error.key!=null" class="error">{{ error.key }}</div>
    </div>

    <div class="section">
      <textarea v-model="value" :class="classes.value" placeholder="value..."/>
    </div>

    <div class="small" v-html="meta"/>

    <div class="buttonbar">
      <button :disabled="checkSendDisabled()" @click="send">{{ buttontext }}</button>
      <button v-show="showDelete" :disabled="!deleteQuestion" class="buttonDelete" @click="deleteEntry">Delete</button>
      <span v-show="showDelete" class="deleteQuestion"><input id="checkbox" v-model="deleteQuestion"
                                                              type="checkbox"><label
          for="checkbox">Really delete?</label></span>
    </div>

  </div>

</template>

<!-- https://v2.vuejs.org/v2/style-guide/?redirect=true -->
<script>
import axios from "axios";
import utils from "@/assets/js/utils";

export default {

  name: 'EntryForm',

  data() {

    return {

      entry: null,

      isErrorKey: false,
      isErrorText: false,

      id: null,
      title: '',
      value: '',
      meta: null,

      buttontext: 'commit',

      classes: {
        key: 'key',
        value: 'value'
      },

      error: {
        key: null,
      },

      deleteQuestion: false,

      showDelete: true,

      errorText: null,
    };
  },


  created() {
    console.log('created');
    this.$views.entryForm = this;
  },

  mounted() {
    //console.log('mounted');
  },

  methods: {

    checkSendDisabled() {

      if (this.title == null || this.title === '') {
        return true;
      }
      //else if ( this.entry == null ) { return false; }

      this.title = this.title.trim();

      for (const item of this.$views.app.items) {

        if (this.entry != null && this.entry.id === item.id) {
          console.log('skip myself')

        } else if (this.title === item.h) {
          //console.log('HIT', this.entry.id, this.entry.h);
          return true;
        }
      }

      return false;
    },

    show(entry) {

      console.log('show', entry);

      this.errorText = null;

      this.entry = entry;

      this.classes.key = 'key';
      this.classes.valuekey = 'value';
      this.error.key = null;

      this.id = entry ? entry.id : null;
      this.title = entry ? entry.h : null;
      this.value = entry ? entry.v : null;
      this.meta = entry ? 'id: ' + entry.id + ', c: ' + entry.c + ', u: ' + entry.u : null;

      this.buttontext = entry ? 'update' : 'create';
      this.showDelete = entry != null;
    },


    send() {

      console.log('send', this.title, this.value);

      const entry = {
        id: this.id,
        key: this.title,
        value: this.value
      };

      axios.post('/api/upsert', entry)
          .then((response) => {

            this.error.key = null;

            const entry = utils.mapData(response.data);

            this.$emitter.emit('reloaded', entry);
            this.$emitter.emit('hideOverlay');

          }, error => {

            console.error('error x', error);
            console.error('data x', error.response.data);
            console.error('data.field x', error.response.data.field);

            if (error.response.data.field == undefined) {
              this.errorText = error.response.data;
              return;
            } else {
              this.errorText = null;
            }

            switch (error.response.data.field) {
              case 'key':

                console.log('->', error.response.data.message)

                this.error.key = error.response.data.message;
                this.classes.key = 'key-error';
                return;
            }
          })
          .catch(exception => {
            console.error('exception x', exception);
          });
    },

    deleteEntry() {

      console.log('delete');

      this.deleteQuestion = false;

      axios.delete('/api/delete/' + this.entry.id)
          .then(() => {
                this.$emitter.emit('deleted', this.entry.id);
              },
              (error) => {
                this.errorText = error.response.data;
              }).finally(
          () => {
            this.$emitter.emit('hideOverlay');
          }
      );
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

div.frame {

  div.error {
    color: red;
    margin-bottom: 10px;
  }

  div.section {

    input {
      width: 80%;
      padding: 5px;
    }

    textarea {
      width: 80%;
      height: 200px;
      padding: 5px;
      margin-top: 10px;
    }
  }

  div.small {
    color: #393a34;
    font-size: 0.8em;
  }

  div.buttonbar {

    margin-top: 10px;

    span.deleteQuestion {
      margin-left: 20px;
    }

    button.buttonDelete {
      margin-left: 20px;
    }

  }
}

</style>
