<template>

  <div id="login">
    <div v-show="message!==''" class="message">{{ message }}</div>
    <div><input v-model="login" :class="errorClass" class="input" placeholder="user" @keyup.enter="submit"/></div>
    <div><input v-model="password" :class="errorClass" class="input" placeholder="password" type="password"
                @keyup.enter="submit"/>
    </div>
    <div v-show="isCreateAccount">
      <input v-model="passwordRepeat" :class="errorClass" class="input" placeholder="password repeat" type="password"
             @keyup.enter="submit"/>
    </div>
    <div>
      <button :disabled="disabledSubmit()" @click="submit">Submit</button>
      <a @click="showCreatePasswordRecheckOrCancel">{{ createLinkLabel }}</a>
    </div>
  </div>

</template>

<script>
import axios from 'axios'

export default {

  name: 'LoginForm',

  components: {},

  data() {
    return {
      message: '',
      login: '',
      password: '',
      passwordRepeat: '',
      createLinkLabel: 'create',
      isCreateAccount: false,
      errorClass: null,
    };
  },

  created() {
  },

  mounted() {
  },

  methods: {

    disabledSubmit() {

      if (this.login !== this.login.trim()) {
        return true;
      }
      if (this.password !== this.password.trim()) {
        return true;
      }

      let r = this.login.trim() === '' || this.password.trim() === '';

      if (this.isCreateAccount) {
        r = r || this.password !== this.passwordRepeat;
      }

      return r;
    },

    submit() {

      console.log("submit()");
      console.log("this.isCreateAccount", this.isCreateAccount);
      console.log("this.disabledSubmit()", this.disabledSubmit());

      if (this.disabledSubmit()) {
        return;
      }

      this.message = null;
      this.errorClass = null;

      const params = {
        user: this.login,
        password: this.password
      };

      const url = !this.isCreateAccount ? '/api/login' : '/api/register';

      axios.post(url, params)
          .then((response) => {

            console.log('this.$views.app.token', this.$views.app.token);
            console.log('response.data', response.data);
            this.$views.app.token = response.data;

            this.$emitter.emit('hideOverlay');
            this.$views.app.load();

          }, error => {

            console.log('error', error);
            // console.log('error.response', error.response);

            this.message = error.response.data.message;
            this.errorClass = 'error';
          });
    },

    showCreatePasswordRecheckOrCancel() {

      this.isCreateAccount = !this.isCreateAccount;
      this.createLinkLabel = this.isCreateAccount ? 'cancel' : 'create';

      this.login = '';
      this.password = '';
      this.passwordRepeat = '';
      this.errorClass = null;
      this.message = null;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

div#login {

  text-align: center;
  padding-top: 20px;

  div.message {
    color: brown;
    margin-bottom: 10px;
  }

  input {
    padding: 10px;
    margin-bottom: 10px;
  }

  button {
    padding: 5px;
    border-radius: 5px;
  }

  a {
    margin-left: 10px;
    text-decoration: underline;
    color: gray;
    cursor: pointer;
  }

}

</style>
