<template>

  <div id="menu">
    <button @click="logout">Logout</button>
    <hr/>
    <div class="heading">Export</div>
    <button>txt</button>
    <hr/>
    <div class="heading">Change Password</div>
    <div class="message">message</div>
    <div><input class="input" placeholder="old password" type="password"/></div>
    <div><input class="input" placeholder="new password" type="password"/></div>
    <div><input class="input" placeholder="repeat new password" type="password"/></div>
    <div>
      <button :disabled="passwordChangeDisabeled">Change</button>
    </div>
    <hr/>
    <a href="#" @click="showAbout">About</a>

  </div>

</template>

<!-- https://v2.vuejs.org/v2/style-guide/?redirect=true -->
<script>
import axios from "axios";

export default {

  name: 'MenuWidget',

  data() {
    return {
      password: '',
      passwordRepeat: '',
      newPassword: ''
    };
  },

  created() {
    console.log('created');
  },

  mounted() {
    console.log('mounted');
  },

  methods: {

    logout() {

      axios.post('/api/logout')
          .finally(() => {
            this.$views.app.token = null;
            this.$views.app.items = [];
            this.$views.searchResult.displayedData = [];
            this.$views.search.searchText = '';
            document.location = '/';
          });

    },

    passwordChangeDisabeled() {
      return true;
    },

    changePassword() {

      const args = {
        pwd: this.password,
        newPwd: this.newPassword
      };

      axios.post('/url/passwordChange', args)
          .then(() => {

            this.message = 'Password was changed!'

          }).finally(() => {

        this.password = '';
        this.passwordRepeat = '';

      });

    },

    showAbout() {
    }

  }


}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

div#menu {

  hr {
    margin-top: 20px;
  }

  div.heading {
    font-weight: bold;
  }

  button {
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
  }

  input {
    margin-top: 10px;
    padding: 5px;
  }

  a {
    color: white;
  }

}

</style>
