<template>

  <div class="row">
    <div class="column colLeft">
      <img alt="icon" src="@/assets/images/icons8-secure-32.png"/>
    </div>
    <div class="column colCenter">
      <input v-model="searchText" placeholder="search..." @click="search" @keyup.enter="search"/>
    </div>
    <div class="column colRight">
      <button id="new" @click="clickNew">New</button>
      <img id="burger" alt="burger" src="@/assets/images/burger.svg" @click="showMenu"/>
    </div>
  </div>

  <hr/>

</template>

<script>
export default {

  name: 'SearchInput',

  data() {
    return {
      searchText: ''
    };
  },

  created() {

    this.$views.search = this;

    this.$emitter.on('filter', (args) => {

      if (typeof args != 'undefined') {
        return;
      }
      this.searchText = '';
    });

  },

  mounted() {
  },

  methods: {

    search() {

      //console.log('search', this.searchText);

      this.searchText = this.searchText.trim();

      const words = [];

      if (this.searchText.length > 0) {

        this.searchText.split(' ').forEach(word => {

          word = word.trim();

          if (word.length === 0) {
            return;
          }

          words.push(word);
        });
      }

      this.$emitter.emit('filter', words);
    },

    showMenu() {
      this.$emitter.emit('showMenu');
    },

    clickNew() {
      console.log('NEW');
      this.$emitter.emit('entry');
    }

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

img#burger {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

div.colLeft {
  width: 10%;
  float: left;
}

div.colCenter {

  width: 80%;
  float: left;

  text-align: center;

  input {
    text-align: left;
    padding: 10px;
    width: 50%;
  }

  button {
    margin-left: 10px;
    padding: 10px;
  }
}

div.colRight {
  width: 9%;
  float: left;
  text-align: right;
}

button#new {
  margin-right: 20px;
}


</style>
