<template>

  <div v-for="entry in displayedData" :id="entry.id" :key="entry.id" class="box">

    <h1 @click="editDetail(entry.id)">{{ entry.h }}</h1>

    <div class="value">{{ entry.v }}</div>

    <div class="meta">
      id: {{ entry.id }}<br/>
      {{ entry.m }}
    </div>

  </div>

</template>

<!-- https://v2.vuejs.org/v2/style-guide/?redirect=true -->
<script>
import utils from "@/assets/js/utils";

export default {

  name: 'SearchResult',

  props: {},

  data() {
    return {
      displayedData: []
    };
  },

  created() {

    this.$views.searchResult = this;

    this.$emitter.on('datas', (datas) => {

      datas = utils.mapDatas(datas);

      this.$views.app.items = datas;
      this.displayedData = datas;
    });

    this.$emitter.on('filter', (data) => {
      this.filter(data);
    });
  },

  mounted() {

  },

  methods: {

    editDetail(id) {
      //console.log('id', id);
      this.$emitter.emit('entry', id);
    },

    filter(args) {

      console.log('filter()', args);

      if (args == null || args.length === 0) {

        console.log('no args -> show all', this.$views.app.items);
        this.displayedData = this.$views.app.items;

      } else {

        this.displayedData = [];

        for (let item of this.$views.app.items) {

          //console.log('check item', item);

          const itemKey = item.h.toLowerCase();
          const itemValue = item.v.toLowerCase();

          let include = false;

          for (let a of args) {

            a = a.trim().toLowerCase();

            if (a === '') {
              continue;
            }

            if (!itemKey.includes(a) && !itemValue.includes(a)) {
              include = false;
              break;
            }

            include = true;
          }

          if (include) {
            this.displayedData.push(item);
          }
        }
      }
      //console.log('filter().');
    }
  }


}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

div.heading {
  width: 100%;
  border-bottom: 1px solid;
}

div.box {

  border: 1px solid;
  padding: 10px;
  margin: 10px;

  width: 300px;

  float: left;

  h1 {
    margin: 0;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: initial;
    cursor: pointer;
  }

  div.meta {
    color: lightgray;
    margin-top: 5px;
    font-size: 0.7em;
    font-style: italic;
  }

  h1:hover {
    color: red;
  }

  div.value {
    white-space: pre-line;
  }
}

div.box:after {
  content: "";
  display: table;
  clear: both;
}


</style>
