<template>

  <div id="overlay" ref="overlay" class="divRow">
    <div class="divCol" style="width: 20%;">&nbsp;</div>
    <div class="divCol" style="width: 60%;">
      <div v-show="showClose" class="close" @click="showOverlay(false)">X</div>
      <LoginForm v-show="showLogin"/>
      <MenuWidget v-show="showMenu"/>
      <EntryForm v-show="showEntryForm"/>
      <div v-show="terminalMessage!=null" class="terminal" v-html="terminalMessage"/>
    </div>
    <!--What is that for here?--><!--div class="divCol" style="width: 20%;">&nbsp;</div-->
  </div>

</template>

<!-- https://www.w3schools.com/howto/howto_js_fullscreen_overlay.asp s-->
<script>
import EntryForm from "@/components/EntryForm";
import LoginForm from "@/components/LoginForm";
import MenuWidget from "@/components/MenuWidget";

export default {

  name: 'WidgetScreen',

  components: {
    LoginForm,
    EntryForm,
    MenuWidget,
  },

  data() {
    return {
      show: 'initial',
      showClose: true,
      showLogin: false,
      showMenu: false,
      showEntryForm: false,
      terminalMessage: null
    }
  },

  created() {

    this.$views.widgetSecreen = this;

    this.$emitter.on('hideOverlay', () => {
      this.showOverlay(false);
    });

    this.$emitter.on('showMenu', () => {
      console.log('showMenu');
      this.showOverlay(true, 'menu');
    });

    this.$emitter.on('entry', (id) => {
      console.log('entry', id);
      this.showOverlay(true, 'entry', id);
    });
  },

  methods: {

    hideAll() {
      this.showLogin = false;
      this.showEntryForm = false;
      this.showClose = true;
    },

    showTerminalError(message) {

      console.log('FUKKEL', message)

      this.hideAll();
      this.showClose = false;
      this.terminalMessage = message;

      this.$refs.overlay.style.display = 'initial';
    },

    showOverlay(isShow, section, data = null) {

      console.log('showOverlay() isShow, section, data', isShow, section, data);

      this.hideAll();

      if (typeof isShow != 'boolean') {
        this.$refs.overlay.style.display = 'none';
        throw 'state must be a boolean';
      }

      //console.log('this.$refs.overlay', this.$refs.overlay);
      //console.log('this.$refs.overlay.style', this.$refs.overlay.style);

      if (!isShow) {
        this.$refs.overlay.style.display = 'none';
        return;
      } else if (typeof section != 'string') {
        this.$refs.overlay.style.display = 'none';
        throw 'section is not a string: ' + section
      }

      switch (section) {

        case'menu':
          this.showEntryForm = false;
          this.showMenu = true;
          break;

        case'login':
          this.showMenu = false;
          this.showEntryForm = false;
          this.showLogin = true;
          this.showClose = false;
          break;

        case'entry':

          this.$views.entryForm.show(data == null ? null : this.$views.app.getItem(data));
          this.showMenu = false;
          this.showEntryForm = true;
          break;

        default:
          this.$refs.overlay.style.display = 'none';
          throw 'unknown section: ' + section;
      }

      this.$refs.overlay.style.display = 'initial';
    }
  }
}
</script>

<style lang="scss" scoped>

div#overlay {

  display: none;

  padding: 10px;
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0); /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
  color: #FFF;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */

  div.close {
    cursor: pointer;
    text-align: right;
    margin-right: 20px;
  }
}


</style>
