.borderYellow {
  border: 1px dotted yellow;
}

.borderRed {
  border: 1px solid red;
}

.input {

  border-radius: 5px;
  outline: none;
  border-bottom: 3px solid #0366d6;

  &:active, &:focus {
    border-bottom: 3px solid chocolate;
    outline: none;
  }
}

input.error {
  border-color: indianred;
  background-color: #ffcccc;
}

button {
  padding: 5px;
}

div.divRow {
}

div.divRow:after {
  content: "";
  display: table;
  clear: both;
}

div.divCol {
  float: left;
  text-align: left;
  width: 30%;
}
