<template>

  <div>
    About

    <hr/>

    <div v-html="content"/>

  </div>

</template>
<script>
export default {

  name: 'AboutPage',

  data() {

    return {
      content: '<div style="color:green"><u>AHA</u> WORKS</div>'
    }

  },

}
</script>

<style lang="scss" scoped>


</style>