<template>

  <div id="app">
    <router-view/>
  </div>

</template>

<script>
export default {

  name: 'App',

  components: {
  },


  created() {
  }

}
</script>

<!-- IntelliJ claims #app is not used; BUT it is! -->
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin: 10px;
}
</style>
