<template>

  MAIN

  <WidgetScreen/>

  <Search/>

  <div id="results">
    <SearchResult/>
  </div>

</template>

<script>
import WidgetScreen from "@/components/WidgetScreen";
import Search from "@/components/Search";
import SearchResult from "@/components/SearchResult";
import axios from "axios";

export default {

  name: 'MainPage',

  components: {
    WidgetScreen,
    Search,
    SearchResult
  },

  data() {
    return {
      token: null,
      items: []
    };
  },

  created() {

    this.$views.app = this;

    this.$emitter.on('reloaded', (item) => {

      for (let i = 0; i < this.items.length; i++) {

        if (this.items[i].id === item.id) {
          console.log('replaced entry at index=' + i, item);
          this.items[i] = item;
          return;
        }
      }

      // it is a new entry
      this.items.push(item);
    });

    this.$emitter.on('deleted', (itemId) => {

      console.log('on deleted', itemId);

      let newItems = [];
      for (const item of this.items) {
        if (item.id !== itemId) {
          newItems.push(item);
        }
        this.items = newItems;

        this.$views.searchResult.filter();
      }

    });
  },

  mounted() {
    this.load();
  },

  methods: {

    load() {

      axios.get('/api/data')
          .then((response) => {

                this.$emitter.emit('datas', response.data.entries);
                this.$views.widgetSecreen.showOverlay(false);

              },
              error => {

                console.log('error', error, error.response);

                if (error.response.status === 401) {
                  this.$views.widgetSecreen.showOverlay(true, 'login');
                } else {
                  this.$views.widgetSecreen.showTerminalError('<div style="color:red;">Status: ' + error.response.status +
                      ' - ' + error.response.statusText +
                      '</div><hr/><br/>' + error.response.data);
                }
              });
    },

    getItem(id) {

      console.log('getItem()', id);

      //console.log('items', this.items.length);

      for (let i = 0; i < this.items.length; i++) {
        //console.log('check', this.items[i].id, id)
        if (this.items[i].id === id) {
          return this.items[i];
        }
      }

      throw 'item not found; id=' + id;
    }
  }

}

</script>

<style lang="scss">

</style>