<template>

</template>

<!-- https://v2.vuejs.org/v2/style-guide/?redirect=true -->
<script>
export default {

  name: 'template',

  components: {},

  props: {},

  data() {
    return {};
  },

  /** https://vuejs.org/guide/essentials/lifecycle.html#lifecycle-diagram */
  beforeCreate() {
    console.log('beforeCreate');
  },
  created() {
    console.log('created');
  },
  beforeMount() {
    console.log('beforeMount');
  },
  mounted() {
    console.log('mounted');
  },
  beforeUpdate() {
    console.log('beforeUpdate');
  },
  updated() {
    console.log('updated');
  },
  beforeUnmount() {
    console.log('beforeUnmount');
  },
  unmounted() {
    console.log('unmounted');
  },

  methods: {}


}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

</style>
